header {
  width: 10rem;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  flex-shrink: 0;
  box-sizing: border-box;
}

.badge {
  display: inline-block;
  background-color: rgb(51, 108, 231);
  color: #fff;
  border-radius: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}

li {  
  height: 3rem;
  display: flex;
  align-items: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.051);
  }
  >a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    line-height: 3rem;
  }
}